
<div id="footer" class="footer-main">
  <div class="footer-news pad-top-100 pad-bottom-70 parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="ft-title color-white text-center"> Boletin informativo </h2>
            <p> recibe las ultimas novedades</p>
          </div>
          <form>
            <input type="email" placeholder="Ingrese su Correo Electronico">
            <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
          </form>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-news -->
  <div class="footer-box pad-top-70">
    <div class="container">
      <div class="row">
        <div class="footer-in-main">
          <div class="footer-logo">
            <div class="text-center">
              <img src="images/logo.png" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-a">
              <h3>Sobre nosotros</h3>
              <p>Somos una marca local cuya principal función es diferenciar, hacer únicos nuestros productos y crear experiencias
                diferentes frente a nuestra competencia. Somos una marca
                divertida, empática, eficaz, salida de lo común, 100% experiencial, amamos el arte, creemos en lo enriquecedor
                que es ser una marca servicial y dispuesta a enseñar y culturizar.</p>
              <ul class="socials-box footer-socials pull-left">
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                  </a>
                </li>
              </ul>

            </div>
            <!-- end footer-box-a -->
          </div>
          <!-- end col -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-c">
              <h3>Contáctenos</h3>
              <p>
                <i class="fa fa-map-signs" aria-hidden="true"></i>
                <span>Cra 21 Calle 63 esquina, Manizales, Caldas 170001</span>
              </p>
              <p>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <span>
									321 7742511
								</span>
              </p>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span><a href="#">inusualdrinks@gmail.com</a></span>
              </p>
            </div>
            <!-- end footer-box-c -->
          </div>
          <!-- end col -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-d">
              <h3>Horario de apertura</h3>

              <ul>
                <li>
                  <p>Martes - Viernes </p>
                  <span> 9:00 AM - 9:00 PM</span>
                </li>
                <li>
                  <p>Sabado - Domingo </p>
                  <span>  3:00 PM - 12:00 PM</span>
                </li>
              </ul>
            </div>
            <!-- end footer-box-d -->
          </div>
          <!-- end col -->
        </div>
        <!-- end footer-in-main -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div id="copyright" class="copyright-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h6 class="copy-title"> Copyright &copy; 2021 Inusual Rooftop Experience <a href="#" target="_blank"></a> </h6>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end copyright-main -->
  </div>
  <!-- end footer-box -->
</div>
<!-- end footer-main -->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

<!-- <section id="color-panel" class="close-color-panel">
     <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>-->
<!-- Colors -->
<!-- <div class="segment">
    <h4 class="gray2 normal no-padding">Color Scheme</h4>
    <a title="orange" class="switcher orange-bg"></a>
    <a title="strong-blue" class="switcher strong-blue-bg"></a>
    <a title="moderate-green" class="switcher moderate-green-bg"></a>
    <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
</div>
</section>-->

<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>