<head>

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">

  <!-- Site Metas -->
  <title>Inusual Rooftop Experience</title>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% if site.author %}
  <meta name="author" content="{{ . }}">
  {% endif %}



  <!-- Site Icons -->
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }} " type="image/x-icon">


  <!-- ** Plugins Needed for the Project ** -->
  {% for css in site.data.plugins.css %}
  <link rel="stylesheet" href="{{ css | relative_url }}">
  {% endfor %}

  <!-- ** Plugins Needed for the Project ** -->
  {% for js in site.data.plugins.js %}
  <link rel="stylesheet" href="{{ js | relative_url }}">
  {% endfor %}


  <!-- google analytics -->
  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->


</head>