<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

  <!-- Site Metas -->
  <title>Inusual Rooftop Experience</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="css/responsive.css">
  <!-- color -->
  <link id="changeable-colors" rel="stylesheet" href="css/colors/orange.css" />

  <!-- Modernizer -->
  <script src="js/modernizer.js"></script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div id="loader">
  <div id="status"></div>
</div>
<div id="site-header">
  <header id="header" class="header-block-top">
    <div class="container">
      <div class="row">
        <div class="main-menu">
          <!-- navbar -->
          <nav class="navbar navbar-default" id="mainNav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo">
                <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                  <img src="images/logo.png" alt="">
                </a>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#banner">Home</a></li>
                <li><a href="#menu_day">Menu Dia</a></li>
                <li><a href="#menu_night">Menu Noche</a></li>
                <li><a href="#reservation">Reservaciones</a></li>
                <li><a href="#footer">Contáctenos</a></li>
              </ul>
            </div>
            <!-- end nav-collapse -->
          </nav>
          <!-- end navbar -->
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </header>
  <!-- end header -->
</div>
<!-- end site-header -->

<div id="banner" class="banner full-screen-mode parallax">
  <div class="container pr">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="banner-static">
        <div class="banner-text">
          <div class="banner-cell">
          </div>
          <!-- end banner-cell -->
        </div>
        <!-- end banner-text -->
      </div>
      <!-- end banner-static -->
    </div>
    <!-- end col -->
  </div>
  <!-- end container -->
</div>
<!-- end banner -->


<div id="menu_day" class="menu-main pad-top-100 pad-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
          <h2 class="block-title text-center">
            Menu Dia
          </h2>
          <p class="title-caption text-center">
            Nacimos con el fin de dar a conocer la biodiversidad Colombiana, trabajamos con frutas amazónicas mostrando sus bondades y beneficios, al
            tiempo que apoyamos las comunidades indígenas
            de nuestro país, reconocemos su gran valor en
            nuestra identidad y nos sentimos orgullosos de lo
            mismo.
          <p class="title-caption text-center">NO VENDEMOS BEBIDAS. VENDEMOS NATURALEZA Y SALUD.
            ¿ ESTÁS LISTO PARA PROBARLO ?</p>
          </p>
        </div>
        <div class="tab-menu">
          <div class="slider slider-nav">
            <div class="tab-title-menu">
              <h2>CAMU CAMU</h2>
              <p> <i class="flaticon-canape"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>COPOAZÚ</h2>
              <p> <i class="flaticon-dinner"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>COROZO</h2>
              <p> <i class="flaticon-desert"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>KOMBUCHA</h2>
              <p> <i class="flaticon-coffee"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>CAFÉ</h2>
              <p> <i class="flaticon-coffee"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>CAFÉ EN MÉTODOS</h2>
              <p> <i class="flaticon-coffee"></i> </p>
            </div>
            <div class="tab-title-menu">
              <h2>REPOSTERÍA Y PANADERÍA</h2>
              <p> <i class="flaticon-coffee"></i> </p>
            </div>

          </div>

          <div class="slider slider-single">

            <div>
              <p>Guayaba acuática de origen amazónico Es el
                fruto descubierto con mayor contenido de
                vitamina C en el mundo, sus propiedades
                antioxidantes ayudan a prevenir el cáncer y
                enfermedades cardiovasculares.
                Refrescante - ácido - herbal</p>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-01.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>ZUMO NATURAL</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>BATIDO NATURAL</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$8.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>HELADO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.500</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>BOWLS</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$12.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>

            <div>
              <p>Cacao silvestre de origen amazónico, gracias a
                la presencia de antioxidantes, ácidos omegas,
                y vitamina C; mejora el sistema inmunológico,
                brindando protección al organismo de virus y
                bacterias. En Inusual utilizamos su pulpa pero
                con su semilla se fabrica un tipo de cacao
                llamado copulate o chocoazu.</p>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-01.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>ZUMO NATURAL</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>BATIDO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$10.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>HELADO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.500</span>
                </div>
              </div>
              <!-- end col -->
            </div>

            <div>
              <p>Fruto de la palma de corozo procedente de
                la costa en el caribe Colombiana. Sus bayas
                son ricas en vitamina A, C y E. Rico en minerales como el magnesio, hierro, calcio que
                intervienen en el crecimiento y regeneración
                de los tejidos del cuerpo. Aparte de ser un
                gran antioxidante natural que previene el envejecimiento prematuro de las células del
                cuerpo</p>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-01.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>ZUMO NATURAL</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>BATIDO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$10.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>HELADO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.500</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-03.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>BOWLS</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$12.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>

            <div>
              <p>Bebida probiótica beneficiosa para el organismo se le conoce como el té de la inmortalidad. Un vaso de kombucha al día ayuda al
                intestino, desintoxica el hígado y la sangre y
                aporta vitaminas y enzimas al cuerpo, aparte
                de un rico y delicioso sabor.</p>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-01.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>PIÑA 300ML</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-02.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>CANELA Y ANIS</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>

            <div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-04.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>AMERICANO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$3.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-05.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>CAFÉ DEL CAMPO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$3.500</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-06.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>CAPUCHINO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$4.500</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-06.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>MOKA CHINO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-06.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>AROMATIKA DE FRUTAS</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-06.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>TE CHAI</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>
            <div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-07.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>DRIPPER</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$12.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-08.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>CHEMEX</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$10.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>

            <div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-10.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>TORTA RED VELVET</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-09.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>TORTA AMAPOLA</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-08.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>TORTA DE CHOCOLATE</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$6.000</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-08.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>CROISSANT</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$5.500</span>
                </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="offer-item">
                  <img src="images/menu-item-thumbnail-08.jpg" alt="" class="img-responsive">
                  <div>
                    <h3>DEDO DE QUESO</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis eleifend dapibus.
                    </p>
                  </div>
                  <span class="offer-price">$4.000</span>
                </div>
              </div>
              <!-- end col -->
            </div>
          </div>
        </div>
        <!-- end tab-menu -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end menu -->



<div id="reservation" class="reservations-main pad-top-100 pad-bottom-100">
  <div class="container">
    <div class="row">
      <div class="form-reservations-box">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="block-title text-center">
              Reservaciones
            </h2>
          </div>
          <h4 class="form-title">FORMULARIO DE RESERVA</h4>
          <p>POR FAVOR LLENE TODOS LOS CAMPOS REQUERIDOS. ¡GRACIAS!</p>

          <form id="contact-form" method="post" class="reservations-box" name="contactform" action="mail.php">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <input type="text" name="form_name" id="form_name" placeholder="Nombre Completo" required="required" data-error="Firstname is required.">
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <input type="email" name="email" id="email" placeholder="Correo Electronico" required="required" data-error="E-mail id is required.">
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <input type="text" name="phone" id="phone" placeholder="# contacto">
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <select name="no_of_persons" id="no_of_persons" class="selectpicker">
                  <option selected disabled>No. de personas</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <input type="text" name="date-picker" id="date-picker" placeholder="Fecha" required="required" data-error="Date is required." />
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <input type="text" name="time-picker" id="time-picker" placeholder="Hora" required="required" data-error="Time is required." />
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-box">
                <select name="occasion" id="occasion" class="selectpicker">
                  <option selected disabled>Ocasión</option>
                  <option>De parche</option>
                  <option>Boda</option>
                  <option>Cumpleaños</option>
                  <option>Aniversario</option>
                </select>
              </div>
            </div>
            <!-- end col -->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="reserve-book-btn text-center">
                <button class="hvr-underline-from-center" type="submit" value="SEND" id="submit">RESERVAR MI MESA </button>
              </div>
            </div>
            <!-- end col -->
          </form>
          <!-- end form -->
        </div>
        <!-- end col -->
      </div>
      <!-- end reservations-box -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end reservations-main -->

<div id="footer" class="footer-main">
  <div class="footer-news pad-top-100 pad-bottom-70 parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
            <h2 class="ft-title color-white text-center"> Boletin informativo </h2>
            <p> recibe las ultimas novedades</p>
          </div>
          <form>
            <input type="email" placeholder="Ingrese su Correo Electronico">
            <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
          </form>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-news -->
  <div class="footer-box pad-top-70">
    <div class="container">
      <div class="row">
        <div class="footer-in-main">
          <div class="footer-logo">
            <div class="text-center">
              <img src="images/logo.png" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-a">
              <h3>Sobre nosotros</h3>
              <p>Somos una marca local cuya principal función es diferenciar, hacer únicos nuestros productos y crear experiencias
                diferentes frente a nuestra competencia. Somos una marca
                divertida, empática, eficaz, salida de lo común, 100% experiencial, amamos el arte, creemos en lo enriquecedor
                que es ser una marca servicial y dispuesta a enseñar y culturizar.</p>
              <ul class="socials-box footer-socials pull-left">
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                  </a>
                </li>
              </ul>

            </div>
            <!-- end footer-box-a -->
          </div>
          <!-- end col -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-c">
              <h3>Contáctenos</h3>
              <p>
                <i class="fa fa-map-signs" aria-hidden="true"></i>
                <span>Cra 21 Calle 63 esquina, Manizales, Caldas 170001</span>
              </p>
              <p>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <span>
									321 7742511
								</span>
              </p>
              <p>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span><a href="#">inusualdrinks@gmail.com</a></span>
              </p>
            </div>
            <!-- end footer-box-c -->
          </div>
          <!-- end col -->
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer-box-d">
              <h3>Horario de apertura</h3>

              <ul>
                <li>
                  <p>Martes - Viernes </p>
                  <span> 9:00 AM - 9:00 PM</span>
                </li>
                <li>
                  <p>Sabado - Domingo </p>
                  <span>  3:00 PM - 12:00 PM</span>
                </li>
              </ul>
            </div>
            <!-- end footer-box-d -->
          </div>
          <!-- end col -->
        </div>
        <!-- end footer-in-main -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div id="copyright" class="copyright-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h6 class="copy-title"> Copyright &copy; 2021 Inusual Rooftop Experience <a href="#" target="_blank"></a> </h6>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end copyright-main -->
  </div>
  <!-- end footer-box -->
</div>
<!-- end footer-main -->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

<!-- <section id="color-panel" class="close-color-panel">
     <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>-->
<!-- Colors -->
<!-- <div class="segment">
    <h4 class="gray2 normal no-padding">Color Scheme</h4>
    <a title="orange" class="switcher orange-bg"></a>
    <a title="strong-blue" class="switcher strong-blue-bg"></a>
    <a title="moderate-green" class="switcher moderate-green-bg"></a>
    <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
</div>
</section>-->

<!-- ALL JS FILES -->
<script src="js/all.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="js/custom.js"></script>
</body>

</html>